/* Common styles -------------------------------------------------------- */


html {
    /* Для того, чтобы в окне электрона не появлялись линии скролла */
    overflow: hidden;
}

body {
    /* Для того, чтобы в окне электрона не появлялись линии скролла */
    overflow: hidden;
    user-select: none;
    cursor: default;
    /* Переопределяем бутстраповский стиль */
    font-family: Segoe UI, Arial, sans-serif;
}

::-webkit-scrollbar {
     width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);

}
::-webkit-scrollbar-thumb {
     background-color: rgba(0, 0, 0, 0.2);
     width: 5px;
}

input[type="time"]::-webkit-clear-button {
    display: none;
}

input[type="time"]::-webkit-inner-spin-button {
    display: none;
}

input[type="number"]::-webkit-clear-button {
    display: none;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.guip-application, #root {
    overflow: hidden;
}

.g-select-allowed {
    user-select: text;
}

.g-select-denied {
    user-select: none;
}
/* У пикера времени не нужен крестик стирания времени */
.rc-time-picker-panel-clear-btn {
    display: none;
}

/* ---------------------------------------------------------------------- */


:global(html) {
    background: #f8f8f8;
}

:global(body) {
    background: none;
}

:global(.container) {
    width: auto;
}

/* react css transition group */
.is-hidden {
    display: none;
}



ul {
    border: #ababab solid 1px;
    margin-bottom: 0px;
}

.modal-enter {
    -webkit-transition: opacity 1.25s ease;
    opacity: 0;
}
.modal-enter.modal-enter-active {
    opacity: 1;
}
.modal-leave {
    opacity: 1;
    -webkit-transition: opacity 1.25s ease;
}
.modal-leave.modal-leave-active {
    opacity: 1;
}

/* Select */
.SettingsElements__select .Select-control,
.SupportElements__select .Select-control {
    border-radius: 0;
    border-color: #ccc;
    width: 151px;
    height: 32px;
    cursor: pointer;
}
.SettingsElements__select .Select-control:hover,
.SupportElements__select .Select-control:hover {
    border-color: #b3b3b3;
}
.SettingsElements__select.is-open .Select-control,
.SupportElements__select.is-open .Select-control {
    border-color: rgba(0, 154, 130, 0.2);
    outline: 1px solid #b3b3b3;
}
.SettingsElements__select .Select-input,
.SupportElements__select .Select-input {
    height: 32px;
}

.SettingsElements__select .Select-menu-outer,
.SupportElements__select .Select-menu-outer {
    border-radius: 0;
    border-color: rgba(0, 154, 130, 0.2);
    outline: 1px solid #b3b3b3;
    width: 151px;
}

.SettingsElements__select.is-focused:not(.is-open) > .Select-control,
.SupportElements__select.is-focused:not(.is-open) > .Select-control {
    border-color: #ccc;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.SettingsElements__select span,
.SupportElements__select span {
    font-family: Segoe UI;
    color: #333;
}

/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
.Select {
    position: relative;
  }
  .Select,
  .Select div,
  .Select input,
  .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .Select.is-disabled > .Select-control {
    background-color: #f9f9f9;
  }
  .Select.is-disabled > .Select-control:hover {
    box-shadow: none;
  }
  .Select.is-disabled .Select-arrow-zone {
    cursor: default;
    pointer-events: none;
    opacity: 0.35;
  }
  .Select-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .Select-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  }
  .Select-control .Select-input:focus {
    outline: none;
  }
  .is-searchable.is-open > .Select-control {
    cursor: text;
  }
  .is-open > .Select-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #fff;
    border-color: #b3b3b3 #ccc #d9d9d9;
  }
  .is-open > .Select-control .Select-arrow {
    top: -2px;
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
  }
  .is-searchable.is-focused:not(.is-open) > .Select-control {
    cursor: text;
  }
  .is-focused:not(.is-open) > .Select-control {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
  }
  .Select-placeholder,
  .Select--single > .Select-control .Select-value {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .has-value.is-clearable.Select--single > .Select-control .Select-value {
    padding-right: 42px;
  }
  .has-value.Select--single > .Select-control .Select-value .Select-value-label,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: #333;
  }
  .has-value.Select--single > .Select-control .Select-value a.Select-value-label,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
    cursor: pointer;
    text-decoration: none;
  }
  .has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
  .has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
    color: #007eff;
    outline: none;
    text-decoration: underline;
  }
  .Select-input {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
  }
  .Select-input > input {
    width: 100%;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: 14px;
    /* For IE 8 compatibility */
    padding: 8px 0 12px;
    /* For IE 8 compatibility */
    -webkit-appearance: none;
  }
  .is-focused .Select-input > input {
    cursor: text;
  }
  .has-value.is-pseudo-focused .Select-input {
    opacity: 0;
  }
  .Select-control:not(.is-searchable) > .Select-input {
    outline: none;
  }
  .Select-loading-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 16px;
  }
  .Select-loading {
    -webkit-animation: Select-animation-spin 400ms infinite linear;
    -o-animation: Select-animation-spin 400ms infinite linear;
    animation: Select-animation-spin 400ms infinite linear;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-right-color: #333;
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }
  .Select-clear-zone {
    -webkit-animation: Select-animation-fadeIn 200ms;
    -o-animation: Select-animation-fadeIn 200ms;
    animation: Select-animation-fadeIn 200ms;
    color: #999;
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 17px;
  }
  .Select-clear-zone:hover {
    color: #D0021B;
  }
  .Select-clear {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
  }
  .Select--multi .Select-clear-zone {
    width: 17px;
  }
  .Select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    padding-right: 5px;
  }
  .Select-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
  }
  .is-open .Select-arrow,
  .Select-arrow-zone:hover > .Select-arrow {
    border-top-color: #666;
  }
  .Select--multi .Select-multi-value-wrapper {
    display: inline-block;
  }
  .Select .Select-aria-only {
    display: inline-block;
    height: 1px;
    width: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    float: left;
  }
  @-webkit-keyframes Select-animation-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes Select-animation-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .Select-menu-outer {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
  }
  .Select-menu {
    max-height: 198px;
    overflow-y: auto;
  }
  .Select-option {
    box-sizing: border-box;
    background-color: #fff;
    color: #666666;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
  }
  .Select-option.is-selected {
    background-color: #f7f7f7;
    border-left: 3px solid #009a82;
    color: #333;
  }
  .Select-option.is-focused {
    background-color: rgba(0, 0, 0, 0.05);
    color: #333;
  }
  .Select-option.is-disabled {
    color: #cccccc;
    cursor: default;
  }
  .Select-noresults {
    box-sizing: border-box;
    color: #999999;
    cursor: default;
    display: block;
    padding: 8px 10px;
  }
  .Select--multi .Select-input {
    vertical-align: middle;
    margin-left: 10px;
    padding: 0;
  }
  .Select--multi.has-value .Select-input {
    margin-left: 5px;
  }
  .Select--multi .Select-value {
    background-color: #ebf5ff;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 126, 255, 0.08);
    border-radius: 2px;
    border: 1px solid #c2e0ff;
    /* Fallback color for IE 8 */
    border: 1px solid rgba(0, 126, 255, 0.24);
    color: #007eff;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.4;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
  }
  .Select--multi .Select-value-icon,
  .Select--multi .Select-value-label {
    display: inline-block;
    vertical-align: middle;
  }
  .Select--multi .Select-value-label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
  }
  .Select--multi a.Select-value-label {
    color: #007eff;
    cursor: pointer;
    text-decoration: none;
  }
  .Select--multi a.Select-value-label:hover {
    text-decoration: underline;
  }
  .Select--multi .Select-value-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #c2e0ff;
    /* Fallback color for IE 8 */
    border-right: 1px solid rgba(0, 126, 255, 0.24);
    padding: 1px 5px 3px;
  }
  .Select--multi .Select-value-icon:hover,
  .Select--multi .Select-value-icon:focus {
    background-color: #d8eafd;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 113, 230, 0.08);
    color: #0071e6;
  }
  .Select--multi .Select-value-icon:active {
    background-color: #c2e0ff;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 126, 255, 0.24);
  }
  .Select--multi.is-disabled .Select-value {
    background-color: #fcfcfc;
    border: 1px solid #e3e3e3;
    color: #333;
  }
  .Select--multi.is-disabled .Select-value-icon {
    cursor: not-allowed;
    border-right: 1px solid #e3e3e3;
  }
  .Select--multi.is-disabled .Select-value-icon:hover,
  .Select--multi.is-disabled .Select-value-icon:focus,
  .Select--multi.is-disabled .Select-value-icon:active {
    background-color: #fcfcfc;
  }
  @keyframes Select-animation-spin {
    to {
      transform: rotate(1turn);
    }
  }
  @-webkit-keyframes Select-animation-spin {
    to {
      -webkit-transform: rotate(1turn);
    }
  }


  /* Timepicker ---------------------------------- */
.rc-time-picker {
    display: inline-block;
    box-sizing: border-box;
}
.rc-time-picker * {
    box-sizing: border-box;
}
.rc-time-picker-input {
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    height: 34px;
    cursor: text;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    outline: none;
    transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.rc-time-picker-input:hover {
    cursor: pointer;
    border-color: #b3b3b3;
}
/* .rc-time-picker-input:focus {
    border-color: #b3b3b3;
    outline: 1px solid rgba(0, 154, 130, 0.2);
} */
.rc-time-picker-input[disabled] {
    color: #ccc;
    background: #f7f7f7;
    cursor: not-allowed;
}
.rc-time-picker-panel {
    z-index: 1070;
    width: 172px;
    position: absolute;
    box-sizing: border-box;
    /* border: 1px solid #b3b3b3; */
}
.rc-time-picker-panel * {
    box-sizing: border-box;
}
.rc-time-picker-panel-inner {
    display: inline-block;
    position: relative;
    /* outline: none; */
    margin-top: 2px;
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border-radius: 0px;
    background-clip: padding-box;
    /* border: 1px solid #ccc; */
    line-height: 1.5;
    /* border: 1px solid rgba(0, 154, 130, 0.2); */
    border: 1px solid #b3b3b3;
}
.rc-time-picker-panel-narrow {
    max-width: 115px;
}
.rc-time-picker-panel-input {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
    cursor: auto;
    line-height: 1.5;
    margin-top: -1px;
    margin-left: -1px;
    outline: 0;
    border: 1px solid transparent;
}
.rc-time-picker-panel-input-wrap {
    box-sizing: border-box;
    position: relative;
    padding: 6px;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid rgba(0, 154, 130, 0.2);
    border-left: 1px solid rgba(0, 154, 130, 0.2);
    border-right: 1px solid rgba(0, 154, 130, 0.2);
}
.rc-time-picker-panel-input-invalid {
    border-color: red;
}
.rc-time-picker-panel-clear-btn {
    position: absolute;
    right: 6px;
    cursor: pointer;
    overflow: hidden;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: 6px;
    margin: 0;
}
.rc-time-picker-panel-clear-btn:after {
    content: "x";
    font-size: 12px;
    color: #aaa;
    display: inline-block;
    line-height: 1;
    width: 20px;
    transition: color 0.3s ease;
}
.rc-time-picker-panel-clear-btn:hover:after {
    color: #666;
}
.rc-time-picker-panel-select {
    float: left;
    font-size: 12px;
    border: 1px solid #e9e9e9;
    border-width: 0 1px;
    margin-left: -1px;
    box-sizing: border-box;
    width: 57px;
    max-height: 144px;
    overflow-y: auto;
    position: relative;
}
/* .rc-time-picker-panel-select::-webkit-scrollbar {
    background-color: #ffffff;
    width: 10px;
}
.rc-time-picker-panel-select::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 5px;
} */
.rc-time-picker-panel-select-active {
    overflow-y: auto;
}
.rc-time-picker-panel-select:first-child {
    border-left: 0;
    margin-left: 0;
    border-left: 1px solid rgba(0, 154, 130, 0.2);
    border-bottom: 1px solid rgba(0, 154, 130, 0.2);
}
.rc-time-picker-panel-select:last-child {
    border-right: 0;
    border-right: 1px solid rgba(0, 154, 130, 0.2);
    border-bottom: 1px solid rgba(0, 154, 130, 0.2);
}
.rc-time-picker-panel-select ul {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
}
.rc-time-picker-panel-select li {
    position: relative;
    list-style: none;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rc-time-picker-panel-select li:hover {
    background: #edfaff;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0.05)
}
li.rc-time-picker-panel-select-option-selected {
    position: relative;
    background: #f7f7f7;
    padding-left: 0;
}
li.rc-time-picker-panel-select-option-selected::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 3px solid #009a82;
    height: 100%;
}
li.rc-time-picker-panel-select-option-disabled {
    color: #ccc;
}
li.rc-time-picker-panel-select-option-disabled:hover {
    background: transparent;
    cursor: not-allowed;
}

  /* /Timepicker --------------------------------- */

/* Шрифты Segoe UI --------------------------------- */
@font-face {
    font-family: 'Segoe UI';
    font-weight: 200;
    src: local('Segoe UI Light');
}


@font-face {
    font-family: 'Segoe UI';
    font-weight: 300;
    src: local('Segoe UI Semilight');
}


@font-face {
    font-family: 'Segoe UI';
    font-weight: 400;
    src: local('Segoe UI');
}


@font-face {
    font-family: 'Segoe UI';
    font-weight: 600;
    src: local('Segoe UI Semibold');
}


@font-face {
    font-family: 'Segoe UI';
    font-weight: 700;
    src: local('Segoe UI Bold');
}
/* /Шрифты Segoe UI -------------------------------- */